{% extends '::base.html.twig' %}

{% block body %}
    <ul id="annonces-liste">
    {% for formation in listeFormation | reverse %}
    <li>
        <table>
            <tr>
                <td class="annonce-preview">
                    <h3><a href="{{ path('m2l_formation_view', { 'id' : formation.id }) }}">{{ formation.titre }}</a></h3>
                    <p>
                        Du {{formation.dateDebut | date("d/m/Y")}} au {{formation.dateFin | date("d/m/Y")}}<br/>
                        Description :<br/>
                        {{ formation.description | slice(0,350) }}... <a href="{{ path('m2l_formation_view', { 'id' : formation.id }) }}">Voir plus</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="annonce-date">
					<span>
						{{ formation.datePost | date("d/m/Y") }}
					</span>
                </td>
            </tr>
        </table>
        </ii>
        {% endfor %}
        <ul>
{% endblock %}