{% extends '::base.html.twig' %}

{% block body %}
	<h2>Liste de mes formations</h2>
	<ul id="annonces-liste">
		{% for formation in listeFormation | reverse %}
			<li>
				<table>
					<tr>
						<td class="annonce-preview">
							<h3><a href="{{ path('m2l_formation_view', { 'id' : formation.id }) }}">{{ formation.titre }}</a></h3>
							<p>
								<span>Du {date debut} au {date fin}</span><br/>
								<span>Nombre de participants : {nbr inscrit}</span>
								<span>Description :</span><br/>
								{{ formation.description | slice(0,350) }}... <a href="{{ path('m2l_formation_view', { 'id' : formation.id }) }}">Voir plus</a>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="annonce-date">
							<span>
								{{ formation.date | date("d/m/Y") }}
							</span>
						</td>
					</tr>
				</table>
			</ii>
		{% endfor %}
	<ul>
{% endblock %}