{% extends '::base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="bg-success">{{ flashMessage }}</div>

    {% endfor %}
	<ul id="annonces-liste">
			<li>
				<table>
					<tr>
						<td class="annonce-preview">
							<h3>{{ formation.titre }}</h3>
							<p>
								<span>Du {{ formation.dateDebut | date("d/m/Y") }} au {{ formation.dateFin | date("d/m/Y") }}</span><br/>
								<span>Description :</span><br/>
								{{ formation.description }}
							</p>
						</td>
					</tr>
					<tr>
						<td class="annonce-date">
							<span>
								{{ formation.datePost | date("d/m/Y") }}
							</span>
						</td>
					</tr>
				</table>
                    {% set viewLink = null %}
                    {% for formationLink in app.user.formations %}
                        {% if formation.id == formationLink.id %}
                            {% set viewLink = true %}
                        {% else %}
                            {% set viewLink = false %}
                        {% endif %}
                    {% endfor %}

                    {% if not viewLink %}
                    <a class="btn" href="{{ path('m2l_add_my_formation', { 'id' : formation.id }) }}">Postuler pour cette formation</a>
                    {% else %}
                        <p class="notice">Vous avez dejà postuler pour ce poste !</p>                        
						<a class="btn" href="{{ path('m2l_delete_my_formation', { 'id' : formation.id }) }}">Se désinscrire</a>
                    {% endif %}
			</ii>
	<ul>
{% endblock %}