{% extends '::base.html.twig' %}

{% block body %}
	<h2>Liste de mes formations</h2>
    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="bg-success">{{ flashMessage }}</div>

    {% endfor %}
	<ul id="annonces-liste">
			<li>
				<table>
					<tr>
						<td class="annonce-preview">
							<h3><a href="{{ path('m2l_formation_view', { 'id' : formation.id }) }}">{{ formation.titre }}</a></h3>
							<p>
								<span>Du {date debut} au {date fin}</span><br/>
								<span>Nombre de participants : {nbr inscrit}</span>
								<span>Description :</span><br/>
								{{ formation.description | slice(0,350) }}... <a href="{{ path('m2l_formation_view', { 'id' : formation.id }) }}">Voir plus</a>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="annonce-date">
							<span>
								{{ formation.datePost | date("d/m/Y") }}
							</span>
						</td>
					</tr>
				</table>
                    {% set viewLink = null %}
                    {% for formationLink in app.user.formations %}
                        {% if formation.id == formationLink.id %}
                            {% set viewLink = true %}
                        {% else %}
                            {% set viewLink = false %}
                        {% endif %}
                    {% endfor %}

                    {% if not viewLink %}
                    <a class="btn" href="{{ path('m2l_add_my_formation', { 'id' : formation.id }) }}">Postuler pour cette formation</a>
                    {% else %}
                        <p class="notice">Vous avez dejà postuler pour ce poste !</p>
                    {% endif %}
			</ii>
	<ul>
{% endblock %}